.currency-conversion-background {
    background-image: url(../MainPageBackground.png);
    /* Update with your image path */
    background-size: cover;
    /* Cover the entire page */
    background-position: relative;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    height: 100vh;
    width: 100%;
}

.currency-conversion-background h1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.currency-conversion-background img {
    position: absolute;
    margin-left: 650px;
    margin-top: 270px;
    z-index: 3;
}

.exchange-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 130px;
    padding-left: 50px;
    margin-top: 175px;
    margin-left: 50px;
    background-color: rgba(71, 8, 90, 0.938);
    border-radius: 15px;
    width: 90%;
    height: 65%;
}

.choose-currency select {
    border: 1px solid;
    border-radius: 3px;
    font-size: 1.5rem;
    padding-left: 12px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.choose-currency span {
    font-size: 2rem;
    color: white;
}

.output {
    display: flex;
}

.output input {
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    background-color: rgb(207, 207, 207);
    width: 220px;
    padding: 20px;
    font-size: 1.5rem;
}

.output h3 {
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 48px;
    background-color: rgb(207, 207, 207);
    width: 220px;
    padding: 20px;
    font-size: 1.5rem;
    overflow: auto;
}