/* friends.css */

.background-friend {
  background-image: url('friends-image.png'); 
    position: relative;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    z-index: 0;
}

.title-container {
  position: absolute;
  background-color: rgb(164, 3, 172);
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  margin-left: 250px;
  width: 800px;
}

.list-container {
  position: absolute;
  margin-top: 200px;
  margin-left: 250px;
  background-color: lightgrey;
  border-radius: 5px;
  width: 800px;
  max-height: 300px;
  overflow: auto;
}

.add-container {
  position: absolute;
  margin-top: 160px;
  margin-left: 250px;
  background-color: lightgrey;
  border-radius: 5px;
  width: 800px;
}

.friend-submit-button {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 6px 24px;
}

.friend-input {
  width: 90%;
  padding: 5px;
}

.friend-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.194);
  margin: 5px 0;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.friend-item:hover {
  background-color: #f0f0f0;
}

.remove-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
